@import "tailwindcss";

/* Custom Scrollbar for the whole platform */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f8fafc;
}

::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 9999px;
  border: 2px solid #f8fafc;
}

::-webkit-scrollbar-thumb:hover {
  background: #10b981;
}

/* Firefox standard */
* {
  scrollbar-width: thin;
  scrollbar-color: #cbd5e1 #f8fafc;
}

html {
  scroll-behavior: smooth;
}
